extends layout

block content
      h1 #{title}
      form(method='POST', action='/articles/add')
        #form-group
          label Title:
          input.form-control(name='title', type='text')
        br
        #form-group
          label Body:
          textarea.form-control.line(name='body',type='text',style="height:300px;width:1140px")
        br
        center
          input.btn.btn-primary(type='submit',value='Submit')
        br
        br
