extends layout

block content
      h1 #{title}
      table.table
        thead.thead-inverse
          tr.dTable
            th #
            th
              center NAME
            th
              center CREATED_DATE
        tbody.dTable
        each article, i in articles
          tr.dTable
            td.dTable
              center
            td
              h5
                center
                  a(href='/article/'+article._id style="font-weight:bold;color:black")= article.title
            td
              center
                h5 #{article.created_date}
