html, body {
  height: 100%;
  width: 100%;
  counter-reset: Serial;
}

.blok {
  min-height: 100%;
  background-image: url('beach.jpg');
  background-size: cover;
  background-attachment: fixed;
   background-position: center center;
}

.profile-image{
  margin-top: 5px;
  height:40px;
  width:40px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.well{
  position: relative;
  margin-top:20px;

}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid black;
}

.edit{
  float:right;
  margin-top:10px;
  margin-right: 14px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top:20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error{
  background-color: #b5803d;
}

.alert-danger{
  background-color: #d0a385;
}

.line{
   white-space: pre-line;
}

.dis{
  background-color: transparent;
  border:none;
  font-family:inherit;
}

tr td:first-child:before
{
  counter-increment: Serial;
  content: counter(Serial);
}

.dTable, .dTable td{
   border-color: black;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #060404;
}

.table-nonfluid {
   width: 100% !important;

}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #8a8887;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #3a3838;
}
.navbar-form{
  margin-bottom: -42px;
}

.input-group{
  /*left:550px;*/
  right:0;
}
